<h1> Edit Bookmark </h1>

<% if @bookmark.errors.any? %>
	<h3>Errors:</h3>
	<% @bookmark.errors.full_messages.each do |message| %>
		<li><%= message %></li>
	<% end %>
<% end %>

<%= form_for @bookmark do |f| %>
<p>
	<%= f.label :url %> : <br/>
	<%= f.text_field :url %><br/ >
	<%= f.label :tag_list %>: <br/>
	<%= f.text_field :tag_list %><br/>
	<%= f.submit "Update Bookmark" %>
</p>
<% end %>
